---
---

$maroon: #990000;

@import "{{ site.theme }}";

body {
  color: black;
}

.main-content {

  h2, h3 {
    color: $maroon;
  }
  h4, h5 {
    color: black;
  }
}

.page-header {
  background: none;
  height: 300px;
}

.page-header::before {
  background-image: url('../images/cobol-news-banner-grey-hifi.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  z-index: -1;
  opacity: 0.95;
  content: '';

  .project-tagline {
    color: white;
  }
}

